{var $city = $_form['CityFilterContainer']['city']}
<div class="form-group">
	{label $city/}
	<input n:name="$city">
</div>

{var $latitude = $_form['CityFilterContainer']['latitude']}
{var $longitude = $_form['CityFilterContainer']['longitude']}
{input $latitude}
{input $longitude}