{var $city = $container['city']}
<div class="form-group">
	{label $city/}
	<input n:name="$city">
</div>

{var $latitude = $container['latitude']}
{var $longitude = $container['longitude']}
{input $latitude}
{input $longitude}