services:

    # Containers
    - Wame\Geolocate\Forms\Containers\IAddressContainerFactory
    - Wame\Geolocate\Forms\Containers\INearbyContainerFactory

    # Factories
    - Wame\Geolocate\Components\IGeolocateFilterControlFactory

    # Forms
    GeolocateFormBuilder:
        class: Wame\Geolocate\Forms\GeolocateFormBuilder
        setup:
            - add(@Wame\Geolocate\Forms\Containers\IAddressContainerFactory, "AddressContainer", {priority: 90})
            - add(@Wame\Geolocate\Forms\Containers\INearbyContainerFactory, "NearbyContainer", {priority: 80})

extensions:
    geolocateAutocompleteFormControl: Wame\Geolocate\DI\GeolocateAutocompleteFormExtension


webloader:
    js:
#        admin:
#            remoteFiles:
#                - 'https://maps.googleapis.com/maps/api/js?key=%geolocateAutocompleteFormControl.googleMapsApiKey%&amp;libraries=places&amp;callback=initGoogleMapiApiAutocomplete'
#            files:
#                - %appDir%/../vendor/wame/Geolocate/assets/googleMapApiAutocomplete.js

        default:
#            remoteFiles:
#                - %appDir%/../vendor/wame/Geolocate/assets/js.js
#                - 'https://maps.googleapis.com/maps/api/js?key=%geolocateAutocompleteFormControl.googleMapsApiKey%&amp;libraries=places&amp;callback=initGoogleMapiApiAutocomplete'
            files:
                - %appDir%/../vendor/wame/Geolocate/assets/googleMapApiAutocomplete.js